body
{
	font-size: 65%;
  	padding:0;
  	margin: 0;
  	color: black;
  	background-color: white;
	font-family: 'Nunito Sans';

}

/* Landing Page */
#landing
{
	display: inline-flex;
	width: 100%;
	height: auto;
	margin: 0;
	padding:0;
	fonr-weight: lighter;
	font-variant: normal;
	text-align: center;
	
}

#webTitle
{
	font-size: 3rem;
	font-family: 'Sofia';

}

#landing img
{
	width: 90%;
	max-height: 500px;
}

#catch
{
	font-size: 1.4rem;
	font-family: 'Sofia';
}

/* Nav */
nav 
{
	display: none;
	padding-top: 1.2em;
	padding-bottom: 0em;

}
nav p
{
	text-align: center;
	font-size: 2.4rem;
	font-family: 'Sofia';
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}


/* Main Section */
main
{
	display: none;
}



details
{
	display: none;
}

button#back{
	display: flex;
	justify-content: center;
}

#back
{
	transition: .5s ease-in-out;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 8px 50px 8px 50px;
	border-style: solid;
	color: #e6005c;
	border-color: #e6005c;
	border-width: 2px;

	font-weight: bold;


}

#back:hover{
	background-color: #e6005c;
	color: white;
}

/* Menu Listing */
ul
{

	padding: 0;
}

.container{
	display: inline-block;
	position: relative;
}

li.item
{
	transition: all .5s;
	list-style-type: none;
	width: 90%;
	margin: 1em auto 0;
	text-align: center;
	padding-bottom: 1.5em;


}

li.item :hover{
	transform: scale(1.05);
	filter: brightness(.7);
}

li.item img
{
	transition: all .5s;
	max-width: 90%;
	max-height: 325px;
	box-shadow: 2px 4px 7px grey;

	
}

li.item img :hover{
	transform: scale(1.05);
}


.hiddenItemTitle{
	position: absolute;
	color: white;
	font-weight: bolder;
	display: none;
	font-size: 24px;
	top: 50%;
	left: 50%;

}

li.item :hover .hiddenItemTitle{
	transform: scale(1.05);
	transform: translate(-50%, -50%);
	filter: brightness(1);
	display: block;
}

/*Details Listing */

li.desc
{
	list-style-type: none;
	width: 90%;
	margin: 1em auto 0;
	text-align: center;
}

.desc img
{
	max-width: 90%;
	max-height: 325px;
	box-shadow: 2px 4px 4px grey;
	box-shadow: 2px 4px 4px grey;

}

.title
{
	font-size: .9rem;
	color: #e6005c;
}

.info
{
	text-align: left;
	margin: 2em auto 0;
	width: 90%;
}

.head
{
	font-size: .75rem;
	font-weight: bold;
	
}

.loc{
	font-weight: bold;
	font-style: italic;
}

.data
{
	font-size: .65rem;
	line-height: 15px;
}

/* Media Queries */
/* Small screens */
@media only screen and (max-width: 380px) {
	nav p{
		font-size: 1.5rem;
	}
	
	#catch
	{
		font-size: 1.5rem;
	}
	
	#webTitle
	{
		font-size: 2rem;
	}
	#back
	{

	
	}
}

/* Wide screens */
@media only screen and (min-width: 768px)
{
	
	.title
	{
		font-size: 1.6rem;	
	}
	
	.loc
	{
		font-size: 1rem;
	}

	.head
	{
		font-size: 1.5rem;
		font-weight: bold;
	
	}

	.data
	{
		font-size: 1.2rem;
		line-height: 23px;
	}
}

@media only screen and (min-width: 1000px)
{
	
	.title
	{
		font-size: 2.2rem;	
	}
	
	.loc
	{
		font-size: 1.5rem;
	}

	.head
	{
		font-size: 1.8rem;
		font-weight: bold;
	
	}

	.data
	{
		font-size: 1.7rem;
		line-height: 39px;
	}
}




